{% extends 'base.html' %}
{% block content %}
</div>
</div>
</nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Professional Work</h3>
                  <p>&nbsp&nbsp I am a full-time RPA/OCR developer using Blue Prism and ABBYY in Toronto, Canada.
                    You may think that a developer just faces computer screens and develops something cool. BUT, the reality is not that
                    simple.
                    I facilitate RPA/OCR projects in an agile environment.
                    What's that mean? Essentially, I talk to business clients directly for requirements gathering, create documentation,
                    and finally develop something cool.
                
                    Of course, nothing is perfect. Bots can stop performing as expected or business requirements can change later on.
                    Troubleshooting is one of my favourite parts with my role as it's like a pazzle.
                  </p>
                
                  <h3>Python + </h3>
                  <p>&nbsp&nbsp I have found a passion in creating products that can be useful or not so much but fun to have with
                    Python.
                    I am currently working on Web development and Data Analysis. I am also interested in Raspberry Pi and Pygame.
                    I am a self-taught developer and looking for friends/work parters who want to create something fun together. If you
                    are, message me!
                  </p>
                
                  <h3>Who is Misako?</h3>
                  <p>
                    &nbsp&nbsp I am Japanese and came to Canada when I was 22 to study English 
                    and I have worked at many places as different roles. 
                    I met my husband in 2018 and we live with two lovely cats - Ben and Kewpie. (Pronounce Kewpie as 'QP'. Named after Japanese Kewpie mayonnaise) 
                    My husband's passion is food and we do Kushiyaki -Japanese BBQ- pop-up in West Toronto. 
                    Message me if you want to taste it too:)
                  </p>

                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/profile.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


{% endblock %}