{% extends 'base.html' %}

{% block content %}
</div>
</div>
</nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/sudoku_solver.png" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">002 : Sudoku Solver</h1>
          </div>
          <p>I've learned Python basic such as if statement, iteration for loop, nested list, algorithm- backtracking through this development. </p>
          <p> </p>

          
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/sudoku-start.png" class="img-responsive" alt="">
            <p>boad before start: 0 is placeholder for missing number</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/sudoku-end.png" class="img-responsive" alt="">
            <p>After Sudolu solver runs</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="./static/assets/images/sudoku-code.png" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>


{% endblock %}