{% extends 'base.html' %}

{% block content %}
</div>
</div>
</nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-1.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : Plan 30/60/90</h1>
          </div>
          <p>This is my fist web app with Flask. I've learned Flask Framework, Jinja2, Bootstrap, Authentication, Deployment with git and Heroku throughout the development. </p>
          <p> This app is to plan for the next three months. Especially when you start a new job, setting up goals and making plans is the key to make your transition go smoothly.
             Check out my Plan 30/60/90 app -> http://misako-planning-list.herokuapp.com/</p>

          
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/work001-3.jpg" class="img-responsive" alt="">
            <p>Authenticaiton</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/work001-4.jpg" class="img-responsive" alt="">
            <p>On mobile device</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="./static/assets/images/work001-2.jpg" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>


{% endblock %}